* text=auto eol=lf

/docs/**         linguist-documentation

*.json           linguist-detectable
*.yaml           linguist-detectable
*.xml            linguist-detectable
_redirects       linguist-detectable

# GitLab
# (These language names must be lowercase)
# For a list of supported languages, see:
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
*.cfg            gitlab-language=javascript
*.jsonc          gitlab-language=json
*.plist          gitlab-language=xml
*.yml            gitlab-language=yaml
*permissions.txt gitlab-language=ini
.git*            gitlab-language=shell
.gitlab-ci.yml   gitlab-language=yaml
flake.lock       gitlab-language=json

# Forgejo (Codeberg)/GitHub
# (These language names must be uppercase)
# For a list of supported languages, see:
# Forgejo (Codeberg): https://github.com/go-enry/go-enry/blob/master/data/languageInfo.go
# GitHub: https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
*.cfg            linguist-language=JAVASCRIPT
*.jsonc          linguist-language=JSON
*.plist          linguist-language=XML
*.yml            linguist-language=YAML
*permissions.txt linguist-language=INI
.git*            linguist-language=SHELL
.gitlab-ci.yml   linguist-language=YAML
flake.lock       linguist-language=JSON linguist-generated
