* text=auto eol=lf

# GitHub/Forgejo (linguist-language): Exact canonical case (Shell, JSON, JavaScript). UPPER or lower only do not work.
# GitLab (gitlab-language): lowercase only (shell, json).
#
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
# https://github.com/go-enry/go-enry/blob/master/data/languageInfo.go

*.json           linguist-detectable
*.yaml           linguist-detectable
*.xml            linguist-detectable
_redirects       linguist-detectable
*.cfg            linguist-language=JavaScript gitlab-language=javascript
*.jsonc          linguist-language=JSON       gitlab-language=json
*.plist          linguist-language=XML        gitlab-language=xml
*.yml            linguist-language=YAML       gitlab-language=yaml
*permissions.txt linguist-language=CSV        gitlab-language=csv
.git*            linguist-language=Shell      gitlab-language=shell
.gitlab-ci.yml   linguist-language=YAML       gitlab-language=yaml
.shellcheckrc    linguist-language=Shell      gitlab-language=shell
flake.lock       linguist-language=JSON       gitlab-language=json linguist-generated
